.edit-form
  = form_for @recipe, url: update_recipe_admin_recipe_path(@recipe.id) do |f|
    .line
      Title:
      = f.text_field :title
    .steps
      = f.fields_for :steps do |step|
        .step
          .number
            Number:
            = step.text_field :number
          .description
            Description:
            = step.text_area :description
    = f.submit