.main-content
  = render partial: 'partials/local_navigation'
  %h2 Your Profile
  .info-block
    = render partial: 'info_line', locals: { caption: 'Email', value: current_user.email }
    = render partial: 'info_line', locals: { caption: 'Login', value: current_user.login }
    = render partial: 'info_line', locals: { caption: 'Name', value: current_user.first_name }
  = link_to "Log Out", destroy_user_session_path, method: :delete