.main-content
  = render partial: 'partials/local_navigation'
  %h2 Your Profile
  - if current_user.admin?
    .admins-links
      = link_to "Get daily menu", daily_meny_path
      = link_to "Recipe list", show_admin_recipe_index_path
  .info-block
    = render partial: 'info_line', locals: { caption: 'Status', value: current_user.level }
    = render partial: 'info_line', locals: { caption: 'Email', value: current_user.email }
    = render partial: 'info_line', locals: { caption: 'Login', value: current_user.login }
    = render partial: 'info_line', locals: { caption: 'Name', value: current_user.first_name }
  = link_to "Log Out", destroy_user_session_path, method: :delete