<!DOCTYPE html>
<html>
  <head>
    <title>WorkingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'partials/header', locals: { user: current_user } %>
    <%= render partial: 'partials/errors', locals: { notice: notice, alert: alert } %>

    <div class="main-stream">
      <% if content_for?(:right) %>
        <div class="column-right">
          <%= yield :right %> 
        </div>
      <% end %>
      <div class="column-middle">
        <%= yield %>
      </div>
      <% if content_for?(:left) %>
        <div class="column-left">
          <%= yield :left %> 
        </div>
      <% end %>
    </div>
    <%= render partial: 'partials/footer', locals: { user: current_user } %>
  </body>
</html>
